.control-row {
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
  }
  .modal-actions {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
  }
  
  .cart-total {
    display: flex;
    justify-content: flex-end;
    margin: 2rem 0;
    font-size: 1.15rem;
    font-weight: bold;
    color: #46443c;
  }
  
  .modal-actions .text-button {
    color: #1d1a16;
  }
  
  .modal-actions .text-button:hover,
  .modal-actions .text-button:active {
    color: #312c1d;
  }